In [ ]:
import pandas as pd
# import datawig

In [2]:
df = pd.read_csv('train.csv')

In [ ]:
df.loc[:]

In [ ]:
df['label'].to_frame()

In [ ]:
df_train, df_test = datawig.utils.random_split(df)

In [8]:
df['label'].to_frame()

       label
0          0
1          5
2          4
3          1
4          3
...      ...
49995      1
49996      2
49997      9
49998      3
49999      2

[50000 rows x 1 columns]

In [5]:
df_train, df_test = datawig.utils.random_split(df)

,id,0,1,2,3,4,5,6,7,8,...,101,102,103,104,105,106,107,108,109,label
0,0,-4.187822,-13.978846,-246.346827,143.771285,NaN,NaN,229.360804,42.729180,68.088766,...,-61.486539,-62.615526,-67.840895,23.592680,124.809538,-23.077201,3.190311,158.660385,-83.848561,0
1,1,24.094857,-11.570042,26.793252,155.851579,89.448145,-39.356123,199.666258,95.310857,-13.326055,...,44.274265,30.681210,34.671579,66.111775,-63.125159,-43.477966,-2.787521,40.601941,-36.462574,5
2,2,129.626766,153.361044,-228.575252,-43.798189,48.125665,18.222124,NaN,12.712634,NaN,...,14.487393,-18.822421,-72.809791,-98.768014,7.588928,34.714429,76.767352,-271.184273,63.889350,4
3,3,209.960232,3.723635,134.575274,NaN,43.350338,475.118110,83.041198,-48.269179,12.554096,...,4.706411,1.643793,-15.398200,-14.028664,65.495963,-15.017345,41.329913,-1214.900271,-25.435079,1
4,4,-179.133415,NaN,-110.506442,NaN,-132.239381,78.865273,288.485620,-9.575814,-67.062730,...,-33.992316,137.368611,-33.962428,3.272204,93.822307,-168.784463,-16.651422,-80.756317,-51.105732,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49995,NaN,89.280447,0.558616,-80.398281,155.230419,NaN,0.901285,NaN,NaN,...,-43.625016,21.911974,-17.671641,-4.668959,-20.685668,40.392418,31.591253,-613.365860,-14.639107,1
49996,49996,-15.449821,NaN,-76.602587,NaN,-20.885585,NaN,34.354521,NaN,-10.464796,...,-79.004341,21.264265,-223.536125,7.911069,-62.884677,-65.526847,-9.959696,-37.688094,100.178277,2
49997,49997,-159.058805,-127.402034,-140.259960,-30.349701,70.529255,120.042455,207.650866,-55.420766,-56.026601,...,-48.363355,-66.722394,14.273012,97.246374,28.609078,-1.007960,-71.074378,-107.468733,111.955892,9
49998,49998,-27.407818,44.826304,NaN,-6.353477,77.512591,38.377255,NaN,NaN,-71.063387,...,-52.548998,9.162448,-24.228557,67.419780,-82.239763,40.118054,-25.954050,482.508831,-74.909144,3
49999,49999,88.869408,-53.048605,-42.414883,-22.197642,-78.701156,-148.078117,63.091354,NaN,-175.185343,...,8.438982,102.802795,73.064293,-11.865969,-91.092901,-57.654390,42.663321,443.058998,52.740689,2

In [ ]:
#Initialize a SimpleImputer model
imputer = datawig.SimpleImputer(
    input_columns=['Pclass','SibSp','Parch'], # column(s) containing information about the column we want to impute
    output_column= 'Age', # the column we'd like to impute values for
    output_path = 'imputer_model' # stores model data and metrics
    )

#Fit an imputer model on the train data
imputer.fit(train_df=df_train, num_epochs=50)

#Impute missing values and return original dataframe with predictions
imputed = imputer.predict(df_test)

In [ ]:
# train

In [ ]:
# Import `Sequential` from `keras.models`
from keras.models import Sequential
 
# Import `Dense` from `keras.layers`
from keras.layers import Dense
 
# Initialize the constructor
model = Sequential()
 
# Add an input layer
model.add(Dense(12, activation ='relu', input_shape =(11, )))
 
# Add one hidden layer
model.add(Dense(9, activation ='relu'))
 
# Add an output layer
model.add(Dense(1, activation ='sigmoid'))
 
# Model output shape
model.output_shape
 
# Model summary
model.summary()
 
# Model config
model.get_config()
 
# List all weight tensors
model.get_weights()
model.compile(loss ='binary_crossentropy',
  optimizer ='adam', metrics =['accuracy'])

In [ ]:

# Training Model
model.fit(X_train, y_train, epochs = 3,
           batch_size = 1, verbose = 1)
  
# Predicting the Value
y_pred = model.predict(X_test)
print(y_pred)